<div>
    <script src="https://unpkg.com/htmx.org@1.9.5" integrity="sha384-xcuj3WpfgjlKF+FXhSQFQ0ZNr39ln+hwjN3npfM9VBnUskLolQAcN80McRIVOPuO" crossorigin="anonymous"></script>
    <style>
      body {
        margin: 0%;
        line-height: 1.5;
      }
  
      .info-card {
        background-color: #f0f0f0;
        border: 1px solid #ccc;
        padding: 10px;
        width: 300px;
      }
  
      .info-label {
        font-weight: bold;
        margin: 10px 0px;
        font-size: 18px;
      }
  
      .info-label span {
        font-weight: 300;
        font-size: 16px;
      }
  
      .details-page {
        margin: 5% 15%;
      }
  
      .resume-details {
        background-color: #1c1127;
        color: #f0f0f0;
        border-radius: 20px;
        padding: 5% 7%;
      }
  
      ul {
        list-style-type: none;
      }
  
      .continue-button {
        background-color: #769c99;
        border: none;
        color: white;
        font-weight: 600;
        padding: 15px 70px;
        text-align: center;
        text-decoration: none;
        border-radius: 20px;
        display: inline-block;
        font-size: 16px;
        margin-top: 30px;
      }
  
      .go-back-button {
        background-color: #a05f83;
        border: none;
        color: white;
        font-weight: 600;
        padding: 15px 70px;
        text-align: center;
        text-decoration: none;
        border-radius: 20px;
        display: inline-block;
        font-size: 16px;
        margin-top: 30px;
        margin-right: 20px;
      }
  
      .details-button {
        display: flex;
        justify-content: center;
      }
  
      h2 {
        margin-bottom: 25px;
      }
    </style>
  
    <div class="details-page">
      <div class="resume-details">
        <h2>Extracted Resume Details</h2>
        <div class="info-label">Full Name:
            <span>
                <%= person.first_name %>
                    <%= person.last_name %>
            </span>
        </div>
        <div class="info-label">Email: <span>
                <%= person.email %>
            </span></div>
        <div class="info-label">Phone Number: <span>
                <%= person.phone_number %>
            </span> </div>
        <div class="info-label">Bio Summary: <span>
                <%= person.summary %>
            </span></div>
        <div class="info-label">Links: <ul>
                <% if (person.link_1 !==null && person.link_1 !==undefined) { %>
                    <li>Link: <%= person.link_1 %>
                    </li>
                    <% } %>

                        <% if (person.link_2 !==null && person.link_2 !==undefined) { %>
                            <li>Link: <%= person.link_2 %>
                            </li>
                            <% } %>

                                <% if (person.link_3 !==null && person.link_3 !==undefined) { %>
                                    <li>Link: <%= person.link_3 %>
                                    </li>
                                    <% } %>

            </ul>
        </div>
        <div class="info-label">Job Experience:
            <ul>
                <% for(let i=0; i < personExperience.length; i++) { %>
                    <li>
                        <div>
                            <span>
                                <%= personExperience[i].job_title %>
                            </span><br/>
                            <span>
                                <%= personExperience[i].company_name %>
                            </span><br/>
                            <span>
                                <%= personExperience[i].start_date %>
                            </span><br/>
                            <span>
                                <%= personExperience[i].end_date %>
                            </span><br/>
                            <span>
                                <%= personExperience[i].description %>
                            </span>
                        </div>
                    </li>
                    <% } %>
            </ul>
        </div>
        <div class="info-label">Skills:
            <ul>
                <% for(let i=0; i < personSkills.length; i++) { %>
                    <li>
                        <%= personSkills[i].skill_text %>
                    </li>
                    <% } %>
            </ul>
        </div>
        <!-- <div class="info-label">Certifications
            <div>
              <span class="info-label">
                <li>LinkedIn: http://linkedin.com/rowan</li>
              </span>
            </div>
        </div> -->
        <button hx-get="/api/joblistings" hx-trigger="click" hx-target="#upload-form" hx-swap="outerHTML">
            Continue
        </button>
    </div>
  </div>
  