<div>
    <style>
        .info-card {
            background-color: #f0f0f0;
            border: 1px solid #ccc;
            padding: 10px;
            width: 300px;
        }

        .info-label {
            font-weight: bold;
        }
    </style>
    <div class="details-page">
        <h2>Extracted Resume Details</h2>
        <div class="info-label">Full Name:
            <span>
                <%= person.first_name %>
                    <%= person.last_name %>
            </span>
        </div>
        <div class="info-label">Email: <span>
                <%= person.email %>
            </span></div>
        <div class="info-label">Phone Number: <span>
                <%= person.phone_number %>
            </span> </div>
        <div class="info-label">Bio Summary: <span>
                <%= person.summary %>
            </span></div>
        <div class="info-label">Links: <ul>
                <% if (person.link_1 !==null && person.link_1 !==undefined) { %>
                    <li>Link: <%= person.link_1 %>
                    </li>
                    <% } %>

                        <% if (person.link_2 !==null && person.link_2 !==undefined) { %>
                            <li>Link: <%= person.link_2 %>
                            </li>
                            <% } %>

                                <% if (person.link_3 !==null && person.link_3 !==undefined) { %>
                                    <li>Link: <%= person.link_3 %>
                                    </li>
                                    <% } %>

            </ul>
        </div>
        <div class="info-label">Job Experience:
            <ul>
                <% for(let i=0; i < personExperience.length; i++) { %>
                    <li>
                        <div>
                            <span>
                                <%= personExperience[i].job_title %>
                            </span><br/>
                            <span>
                                <%= personExperience[i].company_name %>
                            </span><br/>
                            <span>
                                <%= personExperience[i].start_date %>
                            </span><br/>
                            <span>
                                <%= personExperience[i].end_date %>
                            </span><br/>
                            <span>
                                <%= personExperience[i].description %>
                            </span>
                        </div>
                    </li>
                    <% } %>
            </ul>
        </div>
        <div class="info-label">Skills:
            <ul>
                <% for(let i=0; i < personSkills.length; i++) { %>
                    <li>
                        <%= personSkills[i].skill_text %>
                    </li>
                    <% } %>
            </ul>
        </div>
        <!-- <div class="info-label">Certifications
            <div>
                <span class="info-label">
                    <ul>
                        <li>has all the certs</li>
                    </ul>
                </span>
            </div>
        </div> -->
        <button hx-get="/api/joblistings" hx-trigger="click" hx-target="#upload-form" hx-swap="outerHTML">
            Continue
        </button>
    </div>
</div>